$primary: black;
$body-bg: #181818;
$body-color: whitesmoke;
$secondary-color: red;
$secondary: rgb(54, 57, 57);
$text-primary: whitesmoke;
$text-secondary: #eeeeee;
$btn-secondary: rgb(54, 57, 57);

.card-bg-color {
    background-color: black;
}

.title-color {
    color: red;
}

.tvser-li-hover:hover{
    list-style-position: inside;
    transform: translateX(10px);
    background-color: #19854e;
    transition: background-color 0.5s ease-in-out;
}

.bg-carousel{
    background-color:#d9d9d9;
    opacity:0.8;
}

.nav-link-hover:hover{
    color:green;
}

@media screen and (max-width:770px){
    .carousel-caption-header{
        margin:0;
        padding:0;
        font-size: 14px;
        display:none;
    }
    .carousel-caption-paragraph{
        margin:0;
        padding:0;
        font-size: 12px;
        display:none;
    }
}

@import '~bootstrap/scss/bootstrap.scss';