// $primary: black;
// $body-bg: #181818;
// $body-color: whitesmoke;
$secondary-color: red;
$secondary: rgb(54, 57, 57);
$text-primary: whitesmoke;
$text-secondary: #eeeeee;
$btn-secondary: rgb(54, 57, 57);

.links {
  padding-left: 6px;
}

.switcher select {
  width: 130px;
  height: 38px;
  background-color: #19854e;
  color:black;
  outline:none;
}

.logo-pulse{
  animation: pulse 1s infinite;
  border-radius: 60%;
  width: 20em;
}

.dark .logo-pulse{
  content: url("./images/logo.png"); 
}

.clear-search{
  width:30px !important;
  height:30px !important;
  margin-top: 0 !important;
    position: absolute;
    top: 103px;
    right: 0;
    outline: none;
    border: none;
    background-color: transparent;
    font-size:16px;
}

.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: #19854e;
  z-index: 1;
}




.dark .loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: #424242;
  z-index: 1;
}


@keyframes pulse{
  from{
    box-shadow: 0 0 0 0 rgba(198, 182, 179, 0.85);
  }

  to{
    box-shadow: 0 0 0 30px rgba(201, 48, 48, 0);
  }
}

.dark .switcher select {
  width: 130px;
  height: 38px;
  background-color: #000;
  color:whitesmoke;
  outline:none;
}

.like-button {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  padding: 10px;
  text-align: right;
  height: 48px;
  background-color: rgba(35, 34, 34, 0.3) !important;
}

.watched-button {
  text-align: right;
    width: 100%;
    height: 48px;
    padding: 10px;
    position: relative;
    top: -48px;
    right: 38px;
    background-color: transparent !important;
}

div.container-fluid{
  padding-left:0 !important;
  padding-right:0 !important;
  margin-left:0 !important;
  margin-right: 0 !important;
  width: 100% !important;
}

div.container{
  padding-left:0 !important;
  padding-right:0 !important;
  margin-left:0 !important;
  margin-right: 0 !important;
  
}

.all-media-container {
  display: flex;
  width: 100%;
}

.app-container {
  width: 100%;
  margin: 0 auto;
}

.flexible-media {
  flex: 1;
  padding: 16px;
}
div.container-profile{
  margin-left:auto !important;
  margin-right: auto !important;
  z-index:2;
}
.dark div.container-profile{
  margin-left:auto !important;
  margin-right: auto !important;
  background-color: #171616 !important;
  z-index:0 !important;


}

.dark .container-search{
  background-color: #171616 !important;
  margin-left:0 !important;
  margin-right: 0 !important;

}

.container-search{
  // background-color: #171616 !important;
  margin-left:0 !important;
  margin-right: 0 !important;

}



.dark .body, .dark .container, .dark .root{
  background-color: #171616 !important;
} 

.dark span.navbar-toggler-icon{
  background:url('./images/navbar-toggler-icon.svg') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 100% !important;
}

.profile-heading{
  color: #000; 
}

.dark .profile-heading{
  color: whitesmoke;
}

.form-label{
  color: #19854e; 
}

.dark .form-label{
  color: whitesmoke;
}

.form-submit-button{
  background-color: #19854e !important;
  outline: none !important;
  border:none !important;
}

// div.header{
//   margin-bottom: -16px !important;
// }

.search-input{
  color: #19854e !important;
  background-color: whitesmoke !important;
  font-style: italic;
  border-radius: 7px;
  width:100%;
  height: 36px;
  margin-top:-15px !important;
  margin-bottom:-15px !important;
}

div.cont{
  justify-content: space-evenly !important;
}

.justify-content-center{
  width:100%;
}

.dark .search-input{
  color: black !important;
  background-color: whitesmoke !important;
  font-style: italic;
  border-radius: 7px;
  width:100%;
  height: 36px;

}

.dark .form-submit-button{
  background-color: #000 !important;
  color: whitesmoke;
  outline: none !important;
  border:none !important;
}

.form-submit-button:hover{
  background-color: #248653 !important;
}

.footer-auth-icons{
  color: #248653;
}

.dark .footer-auth-icons{
  color: #000;
}

.footer-non-auth-icons{
  color: #248653;
}



.dark .footer-non-auth-icons{
  color: #000;
}
.dark .form-submit-button:hover{
  background-color: #1a1919 !important;
  color: whitesmoke;
}

.profile-data{
  color: #19854e; 
}

.dark .profile-data{
  color: #19854e;
}

.profile-tip{
  color: #000; 
}

.dark .profile-tip{
  color: whitesmoke;
}

.profile-tip-extra{
  color: #19854e; 
}

.dark .profile-tip-extra{
  color: #ffd43b;
}

.favorites-heading{
  color: #000; 
  background-color: #19854e;
}

.dark .favorites-heading{
  color: whitesmoke;
  background-color: #000;
}

.favorites-data{
  color: whitesmoke; 
}

.dark .favorites-data{
  color: #ffd43b;
}


.dark .profile-accordion-body{
background-color: #171616;

}




.dark .logo{
  content:url('./images/logo.png') !important;
  
}

.logo{
  content:url('./images/logo-light.png') !important;
  
}

div.h-100{
  height: 100vh !important;
}

div.h-120{
  height: 130vh !important;
}

.page-content-wrapper {
  margin: 0 auto auto auto !important;
}

html {
  position: relative;
  min-height: 100%;
  width: 100%;
}



button.info-button {
  font-size: 15px;
}

div#card-title {

  font-size: 15px;
}

div#card-title,
div.card-title {

  font-size: 15px;
}





// * width *
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {

  background: #19854e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 0.8;
}

.favorite-modal .modal-header {
  display: none;
}

.favorite-modal .modal-dialog {
  display: block !important;
  background: transparent !important;
  position: fixed !important;
  bottom: -35px !important;
  left: 0 !important;
  right: 0 !important;
  width: 96% !important;
  height: 100px !important;
}

.update-failed-modal .modal-header {
  display: none;
}

.update-failed-modal .modal-dialog {
  display: block !important;
  background: transparent !important;
  position: fixed !important;
  bottom: 160px !important;
  left: 0 !important;
  right: 0 !important;
  width: 96% !important;
  height: 100px !important;
}

//   .delete-modal .modal-header{
//     display:none;
//   }
.delete-modal .modal-dialog {
  display: block !important;
  background: transparent !important;
  position: fixed !important;
  top: 30% !important;
  left: 0 !important;
  right: 0 !important;
  width: 96% !important;
  height: 100px !important;
}

.got-it-button {
  position: absolute;
  top: 10px;
  right: 16px;
}

.got-it-button:hover {
  background-color: #1f8c49 !important;
  color: whitesmoke !important;
}

.dark .login-modal-body{
background-color:#000;
color:whitesmoke;
}

.dark .delete-title{
color: #913939 !important;
background-color: #000 !important;
}

.delete-title{
color: #913939 !important;
background-color: white !important;
}

.dark .delete-confirm{
color: whitesmoke !important;
background-color: #913939 !important;
}

.delete-confirm{
color: whitesmoke !important; 
background-color: #913939 !important; 
}

.dark .delete-cancel{
color: whitesmoke !important;
background-color: #1f8c49 !important;
}

.delete-cancel{
color: whitesmoke !important;
background-color: #1f8c49 !important;  
}

.dark .delete-confirm:hover{
  color: whitesmoke !important;
  background-color: #9a3030 !important;
  }
  
  .delete-confirm:hover{
  color: whitesmoke !important; 
  background-color: #9a3030 !important; 
  }
  
  .dark .delete-cancel:hover{
  color: whitesmoke !important;
  background-color: #2a834c !important;
  }
  
  .delete-cancel:hover{
  color: whitesmoke !important;
  background-color: #2a834c !important;  
  }

.dark .delete-footer{
  background-color: #171616 !important; 
}

.delete-footer{
  background-color: whitesmoke !important;
}

.modal-body{
background-color:whitesmoke;
color:#000;  
}

.modal-info-icon {
  padding-right: 6px;
}

.cancel-it-button {
  position: absolute;
  top: 10px;
  right: 100px;
}

div.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left:0;
  padding-right: 0;
  // padding-bottom: 20px !important;

  height: 240px;
  margin-top:-18px !important;
  background-color: #1f8c49 !important;
}

.page-content-wrapper {
  margin-bottom: 260px;
}

.dark div.footer {
  background-color: #000 !important;
  // margin-top:-18px !important;
  padding-left:0;
  padding-right: 0;
  // padding-bottom: 20px !important;
}

.footer-info {

  background-color: #1f8c49 !important;
  color: #fff;
}

.dark .footer-info {
  background-color: #000 !important;
  color: #fff;
}

.navigation {
  background-color: #1f8c49;
  color: hsl(0, 0%, 100%);
  width: 100%;
  justify-content: space-between !important;
  display: flex !important;
  padding-left:10px !important;
  padding-right:10px !important;
  z-index:2;

}

.dark .navigation {
  background-color: black !important;
  color: #fff;
  z-index:2;

}

.navbar-expand-lg .navigation {
  flex-direction: column !important;
}

.navbar-collapse.show {
  flex-direction: column !important;
}



.navbar-icons {
  color: #000;
}

.navbar-icons:hover {
  color: #212020;
  transition: all 0.2s ease;
  translate: 0px -4px;
}

.dark .navbar-icons {
  color: #1f8c49;
}

.dark .navbar-icons:hover {
  color: #2a8d50;
  transition: all 0.2s ease;
  translate: 0px -4px;
}

span.navbar-icons-span {
  color: white !important;
}

.dark span.navbar-icons-span {
  color: #fff !important;
}

span.navbar-icons-span:hover {
  color: white !important;
  transition: all 0.2s ease;
  translate: 0px -4px;

}

.dark span.navbar-icons-span:hover {
  color: #fff !important;
  transition: all 0.2s ease;
  translate: 0px -4px;

}

.moon {
  font-size: 22px;


}

.sun {
  font-size: 22px;


}

.toggle_btn {
  background-color: #1f8c49;
  outline: none;
  border: none;
}

.dark .toggle_btn {
  background-color: #000;
  outline: none;
  border: none;
}

.dark button.got-it-button {
  background-color: transparent;
  color: #000;
}

button.got-it-button {
  background-color: #1f8c49;
  color: #fff;
}

.card {
  background-color: #1f8c49 !important;
}

.dark .card {
  background-color: #000 !important;

}

.item-view {
  background-color: #1f8c49 !important;
}

.dark .item-view {
  background-color: #000 !important;

}

.item-title {
  color: #000 !important;
}

.dark .item-title {
  color: #1f8c49 !important;

}

.item-subtitle {
  color: #282525 !important;
}

.dark .item-subtitle {
  color: #2e9054 !important;

}



.item-info {
  color: whitesmoke !important;
}

.dark .item-info {
  color: #ffd43b !important;

}

.item-view-info {
  color: whitesmoke !important;
}

.dark .item-view-info {
  color: whitesmoke !important;

}


.image-info{
  content: url("./images/info-light.svg"); 
}

.dark .image-info{
  content: url("./images/info.svg"); 
}

.image-actors{
  content: url("./images/actors-light.svg"); 
}

.dark .image-actors{
  content: url("./images/actors.svg"); 
}

.accordion-title{
  color: #000;
  background-color: whitesmoke; 
}

.dark .accordion-title{
  color: whitesmoke;
  background-color: #000;}

  .alert{
    text-transform: uppercase;
    color: whitesmoke !important;
    background-color: #2e9054 !important; 
  }
  
  .dark .alert{
    text-transform: uppercase;
    color: whitesmoke !important;
    background-color: #000 !important;}

.accordion-lis{
  color: #000;

}

.dark .accordion-lis{
  color: whitesmoke;
}

.accordion-body{
  padding-left: 0 !important;
  padding-right:0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
}

.accordion-item{
  border-bottom: 0 !important;
  border-top: 0 !important;
}

.image-clock-light{
  content: url("./images/clock-light.svg"); 
}

.dark .image-clock-light{
  content: url("./images/clock.svg"); 
}

.image-director{
  content: url("./images/director-light.svg"); 
}

.dark .image-director{
  content: url("./images/director.svg"); 
}

.image-imdb{
  content: url("./images/imdb-light.svg"); 
}

.dark .image-imdb{
  content: url("./images/imdb.svg"); 
}

.image-rotten{
  content: url("./images/rotten-tomatoes-light.svg"); 
}

.dark .image-rotten{
  content: url("./images/rotten-tomatoes.svg"); 
}



@media screen and (max-width:991.5px) {
  .navbar-brand{
    align-self: center !important;
    margin-right:0 !important;
  }
  .clear-search{
  background-color: #0000;
  border: none;
  outline: none;
  font-size: 16px;
  position: relative;
  top: -15px;
  left: 94%;
  height: 30px !important;
  margin-top: 0;
}
div.welcome-player{
  width: 100% !important;
  height: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  position: fixed !important;
  inset: 0 !important;
}
  div.welcome-player video{
    width: auto !important;
    height: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: absolute !important;
    inset: 0 !important;
 
}



}
@media screen and (min-width:992px) {
  
  .navbar-expand-lg .navigation, .navbar-collapse.show{
    flex-direction: row !important;
  }
  div.welcome-player{
    position: fixed !important;
    padding-left: 0px;
    padding-right: 0px;
    width: 100% !important;
    height: auto !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
  }
}

@media screen and (max-width:1460px){
 
}



@media screen and (max-width:714px) {
.clear-search{
  background-color: #0000;
  border: none;
  outline: none;
  font-size: 16px;
  position: relative;
  top: -15px;
  left: 92%;
  height: 30px !important;
  margin-top: 0;
}
}
@media screen and (max-width:767px) {

  div.container, .dark div.container{
  margin: 0 auto 240px auto !important;
}
}
@media screen and (max-width:770px) {
  .app-container {
    width: 100%;
    margin: 0 auto;
  }

  .carousel-caption-header.pb-3 {
    margin: 0px;
    font-size: 14px;
    padding: 0;
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
    // font-size: 14px;
    display: none;
  }

  .carousel-caption-paragraph {
    margin: 0;
    padding: 0;
    font-size: 12px;
    display: none;
  }

  .carousel-button {
    width: 100px !important;
    height: 30px !important;
    font-size: 10px !important;
  }
  div.container-profile, .dark div.container-profile{
    margin: 0 auto 0 auto !important;
    padding-bottom: 36px;
  }
}

@media screen and (max-width:1768px) {
 
}
  @media screen and (max-height:620px) {

div.h-100{
  height: 270vh !important;
}

div.h-120{
  height: 340vh !important;
}

div.welcome-player{
  padding-left: 0;
  padding-right: 0;
  width: 100% !important;
  height: auto !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
}
  div.welcome-player video{
    width: 100% !important;
    height: 620px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: fixed !important;
    inset: 0 !important
 
}

}
@media screen and (max-width:400px) {
  .app-container {
    width: 100%;
    margin: 0 auto;
  }

  .carousel-caption-header.pb-3 {
    margin: -10px;
    font-size: 10px;
    padding: 0;
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
    // font-size: 14px;
    display: none;
  }

  .carousel-caption-paragraph {
    margin: 0;
    padding: 0;
    font-size: 8px;
    display: none;
  }

  .carousel-button {
    padding: 5px !important;
    width: 90px !important;
    height: 26px !important;
    font-size: 10px !important;
  }
}

@import '~bootstrap/scss/bootstrap.scss';